/* 
 Autor.- Susana Fabián Antón
 Fecha creación.- 12/12/19
 Última modificación.- 07/05/20
 Documento.- estilo.css
*/

/* COLORES
 Verde: #A2AB50
 Azul: #22578C
 Rojo: #D35E5A
 Rosa: #F5C6AC
 Amarillo: #F2C96F
*/

/* Reglas de reseteo */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: calibri, arial, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
    text-align: center;
}
h1, h2, header h3 {
    height: 100%;
}

/* Reglas de posicionamiento generales*/
body {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-areas: "header header" "nav main" "footer footer";
    grid-template-columns: 10% auto;
    grid-template-rows: 105px auto 60px;
    min-height:100vh;
}
header {
    grid-area: header;
    background-color: red;
    display: flex;
    flex-direction: column;
}
.icon {
    float:right;  
}
.icon a {
    align-items: center;
    display: flex;
}
.icon img {
    width: 35px;
    
}
nav {
    align-self: flex-start;
    grid-area: nav;
    margin-left: 10px;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;   
}
li {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
li img {
    width: 60%;
}
main {
    grid-area: main;
    margin-right: 10px;
}
.content {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    width: 100%;
}
footer {
    align-items: center;
    display: flex;
    grid-area: footer;
    justify-content: space-around;
}

/* Reglas de estilo generales */
body {
    background-image: url(../images/b3.png);
    background-size: 400px;
}
nav {
    background-color: rgba(255, 255, 255, 0.5);
    height: fit-content;
    padding: 5px;
}
header h1 {
    background-color: white;
    color: #22578C;
    padding: 5px 15px 5px 10px;
}
header h2 {
    background-color: #A2AB50;
    color: white;
    font-variant: small-caps;
    text-align: center;
}
header h3 {
    background-color: white;
    font-variant: small-caps;
    text-align: center;
}
li {
    background-color: white;
    border: #22578C 3px solid;
    font-weight: bold;
}
li a {
    color:#22578C;
}
li:hover {
    background-color:#91ABC6;
}
.active {
    background-color:#22578C;
}
.active a {
    color:white;
}
.content {
    background-color: rgba(255, 255, 255, 0.5);
}
.content>div {
    background-color: white;
    border: #22578C 3px solid;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
footer{
    background-color: #A2AB50;
    color: white;
    text-align: center;
}

/* Reglas de posicionamiento del index */
.main {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: "logo intro" "logo lenguajes";
    grid-template-columns: 40% auto;
    grid-template-rows: 15% auto;
    height: 70%;
    width: 70%;
}
.logo, .intro {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lenguajes {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "logo intro" "logo lenguajes";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}
.lenguajes>div {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.main img {
    width: 40%;
} 
.logo {
    grid-area: logo;
}
.logo img {
    width: 220px;
}
.intro {
    grid-area: intro;
}
.lenguajes {
    grid-area: lenguajes;
}

/* Reglas de estilo del index */
.intro p {
    background-color: #22578C;
    border-radius: 10px;
    color: white;
    font-variant: small-caps;
    padding: 5px 10px;
}
.lenguajes div {
    background-color: rgba(44, 130, 201, 0.5);
    border-radius: 10px;
}

/* Reglas de posicionamiento de menús */
.practica{
    width: 18%;
}
.practica img{
    width: 100%;
}
.description{
    padding:5px;
}

/* Reglas de estilo de menús */
.practica img {
    border-bottom: 5px solid #A2AB50;
    border-radius: 30px;
    border-top: 5px solid #A2AB50;
    opacity: 0.5;
}
.practica img:hover {
    opacity: 1;
}
.title a {
    border-bottom: #D35E5A 3px solid;
    font-variant: small-caps;
    font-weight: bold;
}
/* Reglas de posicionamiento de default */
.default {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 70%;
    justify-content: center;
    width: 70%;
}
.default img {
    width: 40%
}
 